@font-face {
  font-family: 'Anek Latin';
  font-style: normal;
  font-weight: 100;
  font-stretch: condensed;
  font-display: swap;
  src: url(s/aneklatin/v11/co3pmWZulTRoU4a8dqrWiajBS5ByUkvdrlvZ-xWG5uJTY4x-L3PuR7EZKQ.ttf) format('truetype');
}
@font-face {
  font-family: 'Anek Latin';
  font-style: normal;
  font-weight: 100;
  font-stretch: semi-condensed;
  font-display: swap;
  src: url(s/aneklatin/v11/co3pmWZulTRoU4a8dqrWiajBS5ByUkvdrlvg-xWG5uJTY4x-L3PuR7EZKQ.ttf) format('truetype');
}
@font-face {
  font-family: 'Anek Latin';
  font-style: normal;
  font-weight: 100;
  font-stretch: normal;
  font-display: swap;
  src: url(s/aneklatin/v11/co3pmWZulTRoU4a8dqrWiajBS5ByUkvdrluH-xWG5uJTY4x-L3PuR7EZKQ.ttf) format('truetype');
}
@font-face {
  font-family: 'Anek Latin';
  font-style: normal;
  font-weight: 100;
  font-stretch: semi-expanded;
  font-display: swap;
  src: url(s/aneklatin/v11/co3pmWZulTRoU4a8dqrWiajBS5ByUkvdrluu-xWG5uJTY4x-L3PuR7EZKQ.ttf) format('truetype');
}
@font-face {
  font-family: 'Anek Latin';
  font-style: normal;
  font-weight: 100;
  font-stretch: expanded;
  font-display: swap;
  src: url(s/aneklatin/v11/co3pmWZulTRoU4a8dqrWiajBS5ByUkvdrlu1-xWG5uJTY4x-L3PuR7EZKQ.ttf) format('truetype');
}
@font-face {
  font-family: 'Anek Latin';
  font-style: normal;
  font-weight: 200;
  font-stretch: condensed;
  font-display: swap;
  src: url(s/aneklatin/v11/co3pmWZulTRoU4a8dqrWiajBS5ByUkvdrlvZ-xWG5uJTY4x-L3Pux7AZKQ.ttf) format('truetype');
}
@font-face {
  font-family: 'Anek Latin';
  font-style: normal;
  font-weight: 200;
  font-stretch: semi-condensed;
  font-display: swap;
  src: url(s/aneklatin/v11/co3pmWZulTRoU4a8dqrWiajBS5ByUkvdrlvg-xWG5uJTY4x-L3Pux7AZKQ.ttf) format('truetype');
}
@font-face {
  font-family: 'Anek Latin';
  font-style: normal;
  font-weight: 200;
  font-stretch: normal;
  font-display: swap;
  src: url(s/aneklatin/v11/co3pmWZulTRoU4a8dqrWiajBS5ByUkvdrluH-xWG5uJTY4x-L3Pux7AZKQ.ttf) format('truetype');
}
@font-face {
  font-family: 'Anek Latin';
  font-style: normal;
  font-weight: 200;
  font-stretch: semi-expanded;
  font-display: swap;
  src: url(s/aneklatin/v11/co3pmWZulTRoU4a8dqrWiajBS5ByUkvdrluu-xWG5uJTY4x-L3Pux7AZKQ.ttf) format('truetype');
}
@font-face {
  font-family: 'Anek Latin';
  font-style: normal;
  font-weight: 200;
  font-stretch: expanded;
  font-display: swap;
  src: url(s/aneklatin/v11/co3pmWZulTRoU4a8dqrWiajBS5ByUkvdrlu1-xWG5uJTY4x-L3Pux7AZKQ.ttf) format('truetype');
}
@font-face {
  font-family: 'Anek Latin';
  font-style: normal;
  font-weight: 300;
  font-stretch: condensed;
  font-display: swap;
  src: url(s/aneklatin/v11/co3pmWZulTRoU4a8dqrWiajBS5ByUkvdrlvZ-xWG5uJTY4x-L3PuGbAZKQ.ttf) format('truetype');
}
@font-face {
  font-family: 'Anek Latin';
  font-style: normal;
  font-weight: 300;
  font-stretch: semi-condensed;
  font-display: swap;
  src: url(s/aneklatin/v11/co3pmWZulTRoU4a8dqrWiajBS5ByUkvdrlvg-xWG5uJTY4x-L3PuGbAZKQ.ttf) format('truetype');
}
@font-face {
  font-family: 'Anek Latin';
  font-style: normal;
  font-weight: 300;
  font-stretch: normal;
  font-display: swap;
  src: url(s/aneklatin/v11/co3pmWZulTRoU4a8dqrWiajBS5ByUkvdrluH-xWG5uJTY4x-L3PuGbAZKQ.ttf) format('truetype');
}
@font-face {
  font-family: 'Anek Latin';
  font-style: normal;
  font-weight: 300;
  font-stretch: semi-expanded;
  font-display: swap;
  src: url(s/aneklatin/v11/co3pmWZulTRoU4a8dqrWiajBS5ByUkvdrluu-xWG5uJTY4x-L3PuGbAZKQ.ttf) format('truetype');
}
@font-face {
  font-family: 'Anek Latin';
  font-style: normal;
  font-weight: 300;
  font-stretch: expanded;
  font-display: swap;
  src: url(s/aneklatin/v11/co3pmWZulTRoU4a8dqrWiajBS5ByUkvdrlu1-xWG5uJTY4x-L3PuGbAZKQ.ttf) format('truetype');
}
@font-face {
  font-family: 'Anek Latin';
  font-style: normal;
  font-weight: 400;
  font-stretch: condensed;
  font-display: swap;
  src: url(s/aneklatin/v11/co3pmWZulTRoU4a8dqrWiajBS5ByUkvdrlvZ-xWG5uJTY4x-L3PuR7AZKQ.ttf) format('truetype');
}
@font-face {
  font-family: 'Anek Latin';
  font-style: normal;
  font-weight: 400;
  font-stretch: semi-condensed;
  font-display: swap;
  src: url(s/aneklatin/v11/co3pmWZulTRoU4a8dqrWiajBS5ByUkvdrlvg-xWG5uJTY4x-L3PuR7AZKQ.ttf) format('truetype');
}
@font-face {
  font-family: 'Anek Latin';
  font-style: normal;
  font-weight: 400;
  font-stretch: normal;
  font-display: swap;
  src: url(s/aneklatin/v11/co3pmWZulTRoU4a8dqrWiajBS5ByUkvdrluH-xWG5uJTY4x-L3PuR7AZKQ.ttf) format('truetype');
}
@font-face {
  font-family: 'Anek Latin';
  font-style: normal;
  font-weight: 400;
  font-stretch: semi-expanded;
  font-display: swap;
  src: url(s/aneklatin/v11/co3pmWZulTRoU4a8dqrWiajBS5ByUkvdrluu-xWG5uJTY4x-L3PuR7AZKQ.ttf) format('truetype');
}
@font-face {
  font-family: 'Anek Latin';
  font-style: normal;
  font-weight: 400;
  font-stretch: expanded;
  font-display: swap;
  src: url(s/aneklatin/v11/co3pmWZulTRoU4a8dqrWiajBS5ByUkvdrlu1-xWG5uJTY4x-L3PuR7AZKQ.ttf) format('truetype');
}
@font-face {
  font-family: 'Anek Latin';
  font-style: normal;
  font-weight: 500;
  font-stretch: condensed;
  font-display: swap;
  src: url(s/aneklatin/v11/co3pmWZulTRoU4a8dqrWiajBS5ByUkvdrlvZ-xWG5uJTY4x-L3PudbAZKQ.ttf) format('truetype');
}
@font-face {
  font-family: 'Anek Latin';
  font-style: normal;
  font-weight: 500;
  font-stretch: semi-condensed;
  font-display: swap;
  src: url(s/aneklatin/v11/co3pmWZulTRoU4a8dqrWiajBS5ByUkvdrlvg-xWG5uJTY4x-L3PudbAZKQ.ttf) format('truetype');
}
@font-face {
  font-family: 'Anek Latin';
  font-style: normal;
  font-weight: 500;
  font-stretch: normal;
  font-display: swap;
  src: url(s/aneklatin/v11/co3pmWZulTRoU4a8dqrWiajBS5ByUkvdrluH-xWG5uJTY4x-L3PudbAZKQ.ttf) format('truetype');
}
@font-face {
  font-family: 'Anek Latin';
  font-style: normal;
  font-weight: 500;
  font-stretch: semi-expanded;
  font-display: swap;
  src: url(s/aneklatin/v11/co3pmWZulTRoU4a8dqrWiajBS5ByUkvdrluu-xWG5uJTY4x-L3PudbAZKQ.ttf) format('truetype');
}
@font-face {
  font-family: 'Anek Latin';
  font-style: normal;
  font-weight: 500;
  font-stretch: expanded;
  font-display: swap;
  src: url(s/aneklatin/v11/co3pmWZulTRoU4a8dqrWiajBS5ByUkvdrlu1-xWG5uJTY4x-L3PudbAZKQ.ttf) format('truetype');
}
@font-face {
  font-family: 'Anek Latin';
  font-style: normal;
  font-weight: 600;
  font-stretch: condensed;
  font-display: swap;
  src: url(s/aneklatin/v11/co3pmWZulTRoU4a8dqrWiajBS5ByUkvdrlvZ-xWG5uJTY4x-L3PumbcZKQ.ttf) format('truetype');
}
@font-face {
  font-family: 'Anek Latin';
  font-style: normal;
  font-weight: 600;
  font-stretch: semi-condensed;
  font-display: swap;
  src: url(s/aneklatin/v11/co3pmWZulTRoU4a8dqrWiajBS5ByUkvdrlvg-xWG5uJTY4x-L3PumbcZKQ.ttf) format('truetype');
}
@font-face {
  font-family: 'Anek Latin';
  font-style: normal;
  font-weight: 600;
  font-stretch: normal;
  font-display: swap;
  src: url(s/aneklatin/v11/co3pmWZulTRoU4a8dqrWiajBS5ByUkvdrluH-xWG5uJTY4x-L3PumbcZKQ.ttf) format('truetype');
}
@font-face {
  font-family: 'Anek Latin';
  font-style: normal;
  font-weight: 600;
  font-stretch: semi-expanded;
  font-display: swap;
  src: url(s/aneklatin/v11/co3pmWZulTRoU4a8dqrWiajBS5ByUkvdrluu-xWG5uJTY4x-L3PumbcZKQ.ttf) format('truetype');
}
@font-face {
  font-family: 'Anek Latin';
  font-style: normal;
  font-weight: 600;
  font-stretch: expanded;
  font-display: swap;
  src: url(s/aneklatin/v11/co3pmWZulTRoU4a8dqrWiajBS5ByUkvdrlu1-xWG5uJTY4x-L3PumbcZKQ.ttf) format('truetype');
}
@font-face {
  font-family: 'Anek Latin';
  font-style: normal;
  font-weight: 700;
  font-stretch: condensed;
  font-display: swap;
  src: url(s/aneklatin/v11/co3pmWZulTRoU4a8dqrWiajBS5ByUkvdrlvZ-xWG5uJTY4x-L3PuoLcZKQ.ttf) format('truetype');
}
@font-face {
  font-family: 'Anek Latin';
  font-style: normal;
  font-weight: 700;
  font-stretch: semi-condensed;
  font-display: swap;
  src: url(s/aneklatin/v11/co3pmWZulTRoU4a8dqrWiajBS5ByUkvdrlvg-xWG5uJTY4x-L3PuoLcZKQ.ttf) format('truetype');
}
@font-face {
  font-family: 'Anek Latin';
  font-style: normal;
  font-weight: 700;
  font-stretch: normal;
  font-display: swap;
  src: url(s/aneklatin/v11/co3pmWZulTRoU4a8dqrWiajBS5ByUkvdrluH-xWG5uJTY4x-L3PuoLcZKQ.ttf) format('truetype');
}
@font-face {
  font-family: 'Anek Latin';
  font-style: normal;
  font-weight: 700;
  font-stretch: semi-expanded;
  font-display: swap;
  src: url(s/aneklatin/v11/co3pmWZulTRoU4a8dqrWiajBS5ByUkvdrluu-xWG5uJTY4x-L3PuoLcZKQ.ttf) format('truetype');
}
@font-face {
  font-family: 'Anek Latin';
  font-style: normal;
  font-weight: 700;
  font-stretch: expanded;
  font-display: swap;
  src: url(s/aneklatin/v11/co3pmWZulTRoU4a8dqrWiajBS5ByUkvdrlu1-xWG5uJTY4x-L3PuoLcZKQ.ttf) format('truetype');
}
@font-face {
  font-family: 'Anek Latin';
  font-style: normal;
  font-weight: 800;
  font-stretch: condensed;
  font-display: swap;
  src: url(s/aneklatin/v11/co3pmWZulTRoU4a8dqrWiajBS5ByUkvdrlvZ-xWG5uJTY4x-L3Pux7cZKQ.ttf) format('truetype');
}
@font-face {
  font-family: 'Anek Latin';
  font-style: normal;
  font-weight: 800;
  font-stretch: semi-condensed;
  font-display: swap;
  src: url(s/aneklatin/v11/co3pmWZulTRoU4a8dqrWiajBS5ByUkvdrlvg-xWG5uJTY4x-L3Pux7cZKQ.ttf) format('truetype');
}
@font-face {
  font-family: 'Anek Latin';
  font-style: normal;
  font-weight: 800;
  font-stretch: normal;
  font-display: swap;
  src: url(s/aneklatin/v11/co3pmWZulTRoU4a8dqrWiajBS5ByUkvdrluH-xWG5uJTY4x-L3Pux7cZKQ.ttf) format('truetype');
}
@font-face {
  font-family: 'Anek Latin';
  font-style: normal;
  font-weight: 800;
  font-stretch: semi-expanded;
  font-display: swap;
  src: url(s/aneklatin/v11/co3pmWZulTRoU4a8dqrWiajBS5ByUkvdrluu-xWG5uJTY4x-L3Pux7cZKQ.ttf) format('truetype');
}
@font-face {
  font-family: 'Anek Latin';
  font-style: normal;
  font-weight: 800;
  font-stretch: expanded;
  font-display: swap;
  src: url(s/aneklatin/v11/co3pmWZulTRoU4a8dqrWiajBS5ByUkvdrlu1-xWG5uJTY4x-L3Pux7cZKQ.ttf) format('truetype');
}
