/* Elementor CSS for Post 972 */

.elementor-972 .elementor-element.elementor-element-5c9aeeb {
  --display: flex;
  --flex-direction: column;
  display: var(--display);
}
.elementor-972 .elementor-element.elementor-element-5c9aeeb > .e-con-inner {
  max-width: min(var(--container-max-width, 1140px), 100%);
  margin-inline: auto;
}
.elementor-972 .elementor-element.elementor-element-29df7ce {
  --display: flex;
  --flex-direction: column;
  display: var(--display);
  --content-width: 100%;
}
.elementor-972 .elementor-element.elementor-element-4ca1d76.elementor-invisible {
  visibility: hidden;
}
@media (max-width: 1024px) {
  .elementor-972 .elementor-element.elementor-element-4ca1d76 {
    width: auto;
    max-width: initial;
  }
}
.elementor-972 .elementor-element.elementor-element-3f58b72 {
  width: auto;
  max-width: initial;
}
.elementor-972 .elementor-element.elementor-element-960ff7c {
  width: auto;
  max-width: initial;
}
.elementor-972 .elementor-element.elementor-element-ed5d813 {
  --display: flex;
  --flex-direction: column;
  display: var(--display);
  --content-width: 100%;
}
.elementor-972 .elementor-element.elementor-element-ad36bb0 {
  width: 50%;
}
.elementor-972 .elementor-element.elementor-element-e8973f2 .swiper-wrapper {
  display: flex;
}
.elementor-972 .elementor-element.elementor-element-d0f3f2b {
  width: 50%;
}
.elementor-972 .elementor-element.elementor-element-18061c4 {
  --display: flex;
  --flex-direction: column;
  display: var(--display);
}
.elementor-972 .elementor-element.elementor-element-18061c4 > .e-con-inner {
  max-width: min(var(--container-max-width, 1140px), 100%);
  margin-inline: auto;
}
.elementor-972 .elementor-element.elementor-element-e840fc4 {
  --display: flex;
  --flex-direction: column;
  display: var(--display);
  --content-width: 100%;
}
.elementor-972 .elementor-element.elementor-element-7ee79d5 {
  --display: flex;
  --flex-direction: column;
  display: var(--display);
  --content-width: 100%;
}
.elementor-972 .elementor-element.elementor-element-cd2ac3e {
  --display: flex;
  --flex-direction: column;
  display: var(--display);
  --content-width: 100%;
}
.elementor-972 .elementor-element.elementor-element-58b600e {
  --display: flex;
  --flex-direction: column;
  display: var(--display);
  --content-width: 100%;
}
.elementor-972 .elementor-element.elementor-element-7a6998c {
  --display: flex;
  --flex-direction: column;
  display: var(--display);
  --content-width: 100%;
}
.elementor-972 .elementor-element.elementor-element-5767f69 {
  --display: flex;
  --flex-direction: column;
  display: var(--display);
  --content-width: 100%;
}
.elementor-972 .elementor-element.elementor-element-65300a4 {
  width: 100%;
}
.elementor-972 .elementor-element.elementor-element-65300a4 > .elementor-container {
  align-items: center;
}
.elementor-972 .elementor-element.elementor-element-22c9091 {
  width: 50%;
}
.elementor-972 .elementor-element.elementor-element-22c9091 > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-972 .elementor-element.elementor-element-3241971.elementor-invisible {
  visibility: hidden;
}
@media (max-width: 1024px) {
  .elementor-972 .elementor-element.elementor-element-3241971 {
    width: auto;
    max-width: initial;
  }
}
.elementor-972 .elementor-element.elementor-element-75ff714 {
  --display: flex;
  --flex-direction: column;
  display: var(--display);
}
.elementor-972 .elementor-element.elementor-element-75ff714 > .e-con-inner {
  max-width: min(var(--container-max-width, 1140px), 100%);
  margin-inline: auto;
}
.elementor-972 .elementor-element.elementor-element-d155a96 {
  width: 50%;
}
.elementor-972 .elementor-element.elementor-element-d155a96 > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-972 .elementor-element.elementor-element-4a70acd {
  --display: flex;
  --flex-direction: column;
  display: var(--display);
  --content-width: 100%;
}
.elementor-972 .elementor-element.elementor-element-a956d28 {
  --display: flex;
  --flex-direction: column;
  display: var(--display);
  --content-width: 100%;
}
.elementor-972 .elementor-element.elementor-element-6e37824 {
  --display: flex;
  --flex-direction: column;
  display: var(--display);
  --content-width: 100%;
}
.elementor-972 .elementor-element.elementor-element-dd199d2 {
  --display: flex;
  --flex-direction: column;
  display: var(--display);
  --content-width: 100%;
}
.elementor-972 .elementor-element.elementor-element-8c73e99 {
  --display: flex;
  --flex-direction: column;
  display: var(--display);
  --content-width: 100%;
}
.elementor-972 .elementor-element.elementor-element-6f75cce {
  --display: flex;
  --flex-direction: column;
  display: var(--display);
  --content-width: 100%;
}
.elementor-972 .elementor-element.elementor-element-467bfce {
  --display: flex;
  --flex-direction: column;
  display: var(--display);
  --content-width: 100%;
}
.elementor-972 .elementor-element.elementor-element-1d08f01 {
  --display: flex;
  --flex-direction: column;
  display: var(--display);
  --content-width: 100%;
}
.elementor-972 .elementor-element.elementor-element-8b43b05 {
  --display: flex;
  --flex-direction: column;
  display: var(--display);
  --content-width: 100%;
}
.elementor-972 .elementor-element.elementor-element-481e6c1 > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
@media (max-width: 767px) {
  .elementor-972 .elementor-element.elementor-element-481e6c1 {
    display: none;
  }
}
@media (max-width: 1024px) and (min-width: 768px) {
  .elementor-972 .elementor-element.elementor-element-481e6c1 {
    display: none;
  }
}
.elementor-972 .elementor-element.elementor-element-055809e {
  width: 100%;
}
.elementor-972 .elementor-element.elementor-element-de61603 {
  width: 100%;
}
.elementor-972 .elementor-element.elementor-element-1de4597.elementor-invisible {
  visibility: hidden;
}
@media (max-width: 1024px) {
  .elementor-972 .elementor-element.elementor-element-1de4597 {
    width: auto;
    max-width: initial;
  }
}
.elementor-972 .elementor-element.elementor-element-0dc62cb {
  --display: flex;
  --flex-direction: column;
  display: var(--display);
}
.elementor-972 .elementor-element.elementor-element-0dc62cb > .e-con-inner {
  max-width: min(var(--container-max-width, 1140px), 100%);
  margin-inline: auto;
}
.elementor-972 .elementor-element.elementor-element-e8b7b9d {
  --display: flex;
  --flex-direction: column;
  display: var(--display);
  --content-width: 100%;
}
.elementor-972 .elementor-element.elementor-element-aaeb034 {
  --display: flex;
  --flex-direction: column;
  display: var(--display);
  --content-width: 100%;
}
.elementor-972 .elementor-element.elementor-element-af8aeda {
  --display: flex;
  --flex-direction: column;
  display: var(--display);
  --content-width: 100%;
}
.elementor-972 .elementor-element.elementor-element-79d4826 {
  --display: flex;
  --flex-direction: column;
  display: var(--display);
  --content-width: 100%;
}
.elementor-972 .elementor-element.elementor-element-1e24471 {
  --display: flex;
  --flex-direction: column;
  display: var(--display);
  --content-width: 100%;
}
.elementor-972 .elementor-element.elementor-element-e55b9c7 {
  --display: flex;
  --flex-direction: column;
  display: var(--display);
  --content-width: 100%;
}
.elementor-972 .elementor-element.elementor-element-266afb2 {
  width: 100%;
}
.elementor-972 .elementor-element.elementor-element-4fc0618 {
  width: 25%;
}
.elementor-972 .elementor-element.elementor-element-f1dbe50 {
  width: 50%;
}
.elementor-972 .elementor-element.elementor-element-f1dbe50 > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-972 .elementor-element.elementor-element-46c3462.elementor-invisible {
  visibility: hidden;
}
@media (max-width: 767px) {
  .elementor-972 .elementor-element.elementor-element-d8c3e29 {
    display: none;
  }
}
@media (max-width: 1024px) and (min-width: 768px) {
  .elementor-972 .elementor-element.elementor-element-d8c3e29 {
    display: none;
  }
}
.elementor-972 .elementor-element.elementor-element-8e4f19d {
  width: 25%;
}
@media (max-width: 767px) {
  .elementor-972 .elementor-element.elementor-element-8e4f19d {
    display: none;
  }
}
.elementor-972 .elementor-element.elementor-element-9021379 {
  --display: flex;
  --flex-direction: column;
  display: var(--display);
  --content-width: 100%;
}
.elementor-972 .elementor-element.elementor-element-4cc2d1b {
  --display: flex;
  --flex-direction: column;
  display: var(--display);
}
.elementor-972 .elementor-element.elementor-element-4cc2d1b > .e-con-inner {
  max-width: min(var(--container-max-width, 1140px), 100%);
  margin-inline: auto;
}
.elementor-972 .elementor-element.elementor-element-3810931 {
  --display: flex;
  --flex-direction: column;
  display: var(--display);
  --content-width: 100%;
}
.elementor-972 .elementor-element.elementor-element-e6bb420.elementor-invisible {
  visibility: hidden;
}
@media (max-width: 1024px) {
  .elementor-972 .elementor-element.elementor-element-e6bb420 {
    width: auto;
    max-width: initial;
  }
}
.elementor-972 .elementor-element.elementor-element-2103899 {
  --display: flex;
  --flex-direction: column;
  display: var(--display);
}
.elementor-972 .elementor-element.elementor-element-2103899 > .e-con-inner {
  max-width: min(var(--container-max-width, 1140px), 100%);
  margin-inline: auto;
}
.elementor-972 .elementor-element.elementor-element-6be1997 {
  --display: flex;
  --flex-direction: column;
  display: var(--display);
  --content-width: 100%;
}
.elementor-972 .elementor-element.elementor-element-cd9afb2 {
  --display: flex;
  --flex-direction: column;
  display: var(--display);
  --content-width: 100%;
}
.elementor-972 .elementor-element.elementor-element-f7f999b {
  --display: flex;
  --flex-direction: column;
  display: var(--display);
  --content-width: 100%;
}
.elementor-972 .elementor-element.elementor-element-4cf40eb {
  --display: flex;
  --flex-direction: column;
  display: var(--display);
}
.elementor-972 .elementor-element.elementor-element-4cf40eb > .e-con-inner {
  max-width: min(var(--container-max-width, 1140px), 100%);
  margin-inline: auto;
}
.elementor-972 .elementor-element.elementor-element-80e4d9c {
  --display: flex;
  --flex-direction: column;
  display: var(--display);
  --content-width: 100%;
}
.elementor-972 .elementor-element.elementor-element-9f90db7 {
  --display: flex;
  --flex-direction: column;
  display: var(--display);
  --content-width: 100%;
}
.elementor-972 .elementor-element.elementor-element-e02a4cb {
  --display: flex;
  --flex-direction: column;
  display: var(--display);
  --content-width: 100%;
}
.elementor-972 .elementor-element.elementor-element-68c2573 > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-972 .elementor-element.elementor-element-4cbc01d {
  width: 100%;
}
.elementor-972 .elementor-element.elementor-element-236a582 {
  width: 100%;
}
.elementor-972 .elementor-element.elementor-element-e140217.elementor-invisible {
  visibility: hidden;
}
@media (max-width: 1024px) {
  .elementor-972 .elementor-element.elementor-element-e140217 {
    width: auto;
    max-width: initial;
  }
}
.elementor-972 .elementor-element.elementor-element-00da1cc {
  width: 25%;
}
@media (max-width: 767px) {
  .elementor-972 .elementor-element.elementor-element-115a53d {
    display: none;
  }
}
@media (max-width: 1024px) and (min-width: 768px) {
  .elementor-972 .elementor-element.elementor-element-115a53d {
    display: none;
  }
}
.elementor-972 .elementor-element.elementor-element-115a53d {
  width: auto;
  max-width: initial;
}
.elementor-972 .elementor-element.elementor-element-289e901 {
  width: 25%;
}
@media (max-width: 1024px) and (min-width: 768px) {
  .elementor-972 .elementor-element.elementor-element-1b06841 {
    display: none;
  }
}
.elementor-972 .elementor-element.elementor-element-1b06841 {
  width: auto;
  max-width: initial;
}
@media (max-width: 1024px) and (min-width: 768px) {
  .elementor-972 .elementor-element.elementor-element-6d3e0fe {
    display: none;
  }
}
.elementor-972 .elementor-element.elementor-element-6d3e0fe {
  width: auto;
  max-width: initial;
}
.elementor-972 .elementor-element.elementor-element-bc1fe79 {
  width: 25%;
}
.elementor-972 .elementor-element.elementor-element-df92d45 {
  width: 25%;
}
.elementor-972 .elementor-element.elementor-element-f52e9d6 {
  --display: flex;
  --flex-direction: column;
  display: var(--display);
  --content-width: 100%;
}
.elementor-972 .elementor-element.elementor-element-d069904 {
  --display: flex;
  --flex-direction: column;
  display: var(--display);
}
.elementor-972 .elementor-element.elementor-element-d069904 > .e-con-inner {
  max-width: min(var(--container-max-width, 1140px), 100%);
  margin-inline: auto;
}
.elementor-972 .elementor-element.elementor-element-d342445 {
  --display: flex;
  --flex-direction: column;
  display: var(--display);
  --content-width: 100%;
}
.elementor-972 .elementor-element.elementor-element-7457231 {
  --display: flex;
  --flex-direction: column;
  display: var(--display);
}
.elementor-972 .elementor-element.elementor-element-7457231 > .e-con-inner {
  max-width: min(var(--container-max-width, 1140px), 100%);
  margin-inline: auto;
}
.elementor-972 .elementor-element.elementor-element-534a711 {
  --display: flex;
  --flex-direction: column;
  display: var(--display);
  --content-width: 100%;
}
.elementor-972 .elementor-element.elementor-element-d34db75 .elementor-carousel-image {
  background-size: cover;
  background-position: center center;
}
.elementor-972 .elementor-element.elementor-element-5756f3e {
  --display: flex;
  --flex-direction: column;
  display: var(--display);
  --content-width: 100%;
}
.elementor-972 .elementor-element.elementor-element-b8f8746 {
  --display: flex;
  --flex-direction: column;
  display: var(--display);
}
.elementor-972 .elementor-element.elementor-element-b8f8746 > .e-con-inner {
  max-width: min(var(--container-max-width, 1140px), 100%);
  margin-inline: auto;
}
.elementor-972 .elementor-element.elementor-element-9635246 {
  --display: flex;
  --flex-direction: column;
  display: var(--display);
  --content-width: 100%;
}
.elementor-972 .elementor-element.elementor-element-8c0508a.elementor-invisible {
  visibility: hidden;
}
@media (max-width: 1024px) {
  .elementor-972 .elementor-element.elementor-element-8c0508a {
    width: auto;
    max-width: initial;
  }
}
.elementor-972 .elementor-element.elementor-element-53f35a3 {
  --display: flex;
  --flex-direction: column;
  display: var(--display);
  --content-width: 100%;
}
.elementor-972 .elementor-element.elementor-element-5c991f6 {
  --display: flex;
  --flex-direction: column;
  display: var(--display);
  --content-width: 100%;
}
.elementor-972 .elementor-element.elementor-element-38f116e {
  --display: flex;
  --flex-direction: column;
  display: var(--display);
}
.elementor-972 .elementor-element.elementor-element-38f116e > .e-con-inner {
  max-width: min(var(--container-max-width, 1140px), 100%);
  margin-inline: auto;
}
.elementor-972 .elementor-element.elementor-element-6c8d201 {
  --display: flex;
  --flex-direction: column;
  display: var(--display);
  --content-width: 100%;
}
.elementor-972 .elementor-element.elementor-element-1f6c21f {
  --display: flex;
  --flex-direction: column;
  display: var(--display);
  --content-width: 100%;
}
.elementor-972 .elementor-element.elementor-element-9cdceda {
  --display: flex;
  --flex-direction: column;
  display: var(--display);
  --content-width: 100%;
}
.elementor-972 .elementor-element.elementor-element-81833f0 {
  --display: flex;
  --flex-direction: column;
  display: var(--display);
}
.elementor-972 .elementor-element.elementor-element-81833f0 > .e-con-inner {
  max-width: min(var(--container-max-width, 1140px), 100%);
  margin-inline: auto;
}
.elementor-972 .elementor-element.elementor-element-e5e68a9 {
  --display: flex;
  --flex-direction: column;
  display: var(--display);
  --content-width: 100%;
}
.elementor-972 .elementor-element.elementor-element-334e24a {
  width: auto;
  max-width: initial;
}
.elementor-972 .elementor-element.elementor-element-333274f {
  --display: flex;
  --flex-direction: column;
  display: var(--display);
  --content-width: 100%;
}
.elementor-972 .elementor-element.elementor-element-febc60d {
  --display: flex;
  --flex-direction: column;
  display: var(--display);
  --content-width: 100%;
}
.elementor-972 .elementor-element.elementor-element-9184c11 {
  --display: flex;
  --flex-direction: column;
  display: var(--display);
}
.elementor-972 .elementor-element.elementor-element-9184c11 > .e-con-inner {
  max-width: min(var(--container-max-width, 1140px), 100%);
  margin-inline: auto;
}
.elementor-972 .elementor-element.elementor-element-425aecf {
  --display: flex;
  --flex-direction: column;
  display: var(--display);
  --content-width: 100%;
}
.elementor-972 .elementor-element.elementor-element-5f03532 {
  --display: flex;
  --flex-direction: column;
  display: var(--display);
}
.elementor-972 .elementor-element.elementor-element-5f03532 > .e-con-inner {
  max-width: min(var(--container-max-width, 1140px), 100%);
  margin-inline: auto;
}
.elementor-972 .elementor-element.elementor-element-0ee5004 {
  --display: flex;
  --flex-direction: column;
  display: var(--display);
  --content-width: 100%;
}
.elementor-972 .elementor-element.elementor-element-466d333 {
  --display: flex;
  --flex-direction: column;
  display: var(--display);
}
.elementor-972 .elementor-element.elementor-element-466d333 > .e-con-inner {
  max-width: min(var(--container-max-width, 1140px), 100%);
  margin-inline: auto;
}
.elementor-972 .elementor-element.elementor-element-b293ad8 {
  --display: flex;
  --flex-direction: column;
  display: var(--display);
  --content-width: 100%;
}
.elementor-972 .elementor-element.elementor-element-c1b0991 {
  --display: flex;
  --flex-direction: column;
  display: var(--display);
}
.elementor-972 .elementor-element.elementor-element-c1b0991 > .e-con-inner {
  max-width: min(var(--container-max-width, 1140px), 100%);
  margin-inline: auto;
}
.elementor-972 .elementor-element.elementor-element-a21d016 {
  --display: flex;
  --flex-direction: column;
  display: var(--display);
  --content-width: 100%;
}
.elementor-972 .elementor-element.elementor-element-6d9c5e0 {
  --display: flex;
  --flex-direction: column;
  display: var(--display);
}
.elementor-972 .elementor-element.elementor-element-6d9c5e0 > .e-con-inner {
  max-width: min(var(--container-max-width, 1140px), 100%);
  margin-inline: auto;
}
.elementor-972 .elementor-element.elementor-element-7aa7940b {
  --display: flex;
  --flex-direction: column;
  display: var(--display);
  --content-width: 100%;
}
.elementor-972 .elementor-element.elementor-element-7d2de06 {
  --display: flex;
  --flex-direction: column;
  display: var(--display);
}
.elementor-972 .elementor-element.elementor-element-7d2de06 > .e-con-inner {
  max-width: min(var(--container-max-width, 1140px), 100%);
  margin-inline: auto;
}
.elementor-972 .elementor-element.elementor-element-1204ee08 {
  --display: flex;
  --flex-direction: column;
  display: var(--display);
  --content-width: 100%;
}
.elementor-972 .elementor-element.elementor-element-28b22cb0 {
  --display: flex;
  --flex-direction: column;
  display: var(--display);
  --content-width: 100%;
}
.elementor-972 .elementor-element.elementor-element-23d5ba33 .elementor-form {
  display: flex;
  flex-wrap: wrap;
}
