/* Elementor CSS for Post 53 */

.elementor-53 .elementor-element.elementor-element-7ca0c96 {
  --display: flex;
  --flex-direction: column;
  display: var(--display);
}
.elementor-53 .elementor-element.elementor-element-7ca0c96 > .e-con-inner {
  max-width: min(var(--container-max-width, 1140px), 100%);
  margin-inline: auto;
}
.elementor-53 .elementor-element.elementor-element-97e9950 {
  --display: flex;
  --flex-direction: column;
  display: var(--display);
  --content-width: 100%;
}
.elementor-53 .elementor-element.elementor-element-e6beb82.elementor-invisible {
  visibility: hidden;
}
@media (max-width: 1024px) {
  .elementor-53 .elementor-element.elementor-element-e6beb82 {
    width: auto;
    max-width: initial;
  }
}
.elementor-53 .elementor-element.elementor-element-2e4bc6c {
  --display: flex;
  --flex-direction: column;
  display: var(--display);
  --content-width: 100%;
}
.elementor-53 .elementor-element.elementor-element-28e8d8c {
  --display: flex;
  --flex-direction: column;
  display: var(--display);
}
.elementor-53 .elementor-element.elementor-element-28e8d8c > .e-con-inner {
  max-width: min(var(--container-max-width, 1140px), 100%);
  margin-inline: auto;
}
.elementor-53 .elementor-element.elementor-element-c594cf3 {
  --display: flex;
  --flex-direction: column;
  display: var(--display);
  --content-width: 100%;
}
.elementor-53 .elementor-element.elementor-element-aa4083e .elementor-form {
  display: flex;
  flex-wrap: wrap;
}
