/* Elementor Global CSS - Kit Settings (Post 272) */

:root {
  --e-global-color-astglobalcolor0: #060097;
  --e-global-color-astglobalcolor1: #c10fff;
  --e-global-color-astglobalcolor2: #1e293b;
  --e-global-color-astglobalcolor3: #67768e;
  --e-global-color-astglobalcolor4: #f9f6fe;
  --e-global-color-astglobalcolor5: #FFFFFF;
  --e-global-color-astglobalcolor6: #F2F5F7;
  --e-global-color-astglobalcolor7: #ffcd57;
  --e-global-color-astglobalcolor8: #000000;
}
