/* Elementor CSS for Post 48 */

.elementor-48 .elementor-element.elementor-element-9ac3f9b {
  --display: flex;
  --flex-direction: column;
  display: var(--display);
}
.elementor-48 .elementor-element.elementor-element-9ac3f9b > .e-con-inner {
  max-width: min(var(--container-max-width, 1140px), 100%);
  margin-inline: auto;
}
.elementor-48 .elementor-element.elementor-element-1ca202b {
  --display: flex;
  --flex-direction: column;
  display: var(--display);
  --content-width: 100%;
}
.elementor-48 .elementor-element.elementor-element-0746f0e.elementor-invisible {
  visibility: hidden;
}
@media (max-width: 1024px) {
  .elementor-48 .elementor-element.elementor-element-0746f0e {
    width: auto;
    max-width: initial;
  }
}
.elementor-48 .elementor-element.elementor-element-cba82c1 {
  width: auto;
  max-width: initial;
}
.elementor-48 .elementor-element.elementor-element-6110ddb {
  --display: flex;
  --flex-direction: column;
  display: var(--display);
  --content-width: 100%;
}
.elementor-48 .elementor-element.elementor-element-62b00b4 > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-48 .elementor-element.elementor-element-03e6cab {
  width: 100%;
}
.elementor-48 .elementor-element.elementor-element-a8d7f47 {
  width: 100%;
}
.elementor-48 .elementor-element.elementor-element-bab465e.elementor-invisible {
  visibility: hidden;
}
@media (max-width: 1024px) {
  .elementor-48 .elementor-element.elementor-element-bab465e {
    width: auto;
    max-width: initial;
  }
}
.elementor-48 .elementor-element.elementor-element-aaada2b {
  --display: flex;
  --flex-direction: column;
  display: var(--display);
}
.elementor-48 .elementor-element.elementor-element-aaada2b > .e-con-inner {
  max-width: min(var(--container-max-width, 1140px), 100%);
  margin-inline: auto;
}
.elementor-48 .elementor-element.elementor-element-d203d84 {
  --display: flex;
  --flex-direction: column;
  display: var(--display);
  --content-width: 100%;
}
.elementor-48 .elementor-element.elementor-element-8e3116b {
  --display: flex;
  --flex-direction: column;
  display: var(--display);
  --content-width: 100%;
}
.elementor-48 .elementor-element.elementor-element-6bdb118 {
  --display: flex;
  --flex-direction: column;
  display: var(--display);
  --content-width: 100%;
}
.elementor-48 .elementor-element.elementor-element-cec89ea {
  --display: flex;
  --flex-direction: column;
  display: var(--display);
  --content-width: 100%;
}
.elementor-48 .elementor-element.elementor-element-46ab072 {
  --display: flex;
  --flex-direction: column;
  display: var(--display);
  --content-width: 100%;
}
.elementor-48 .elementor-element.elementor-element-8a0b60e {
  --display: flex;
  --flex-direction: column;
  display: var(--display);
  --content-width: 100%;
}
.elementor-48 .elementor-element.elementor-element-b36df8b {
  --display: flex;
  --flex-direction: column;
  display: var(--display);
  --content-width: 100%;
}
.elementor-48 .elementor-element.elementor-element-8663919 {
  --display: flex;
  --flex-direction: column;
  display: var(--display);
  --content-width: 100%;
}
.elementor-48 .elementor-element.elementor-element-712ff25 {
  --display: flex;
  --flex-direction: column;
  display: var(--display);
  --content-width: 100%;
}
.elementor-48 .elementor-element.elementor-element-0a43736 {
  --display: flex;
  --flex-direction: column;
  display: var(--display);
  --content-width: 100%;
}
.elementor-48 .elementor-element.elementor-element-330645a {
  --display: flex;
  --flex-direction: column;
  display: var(--display);
  --content-width: 100%;
}
.elementor-48 .elementor-element.elementor-element-16c0b21 {
  --display: flex;
  --flex-direction: column;
  display: var(--display);
  --content-width: 100%;
}
.elementor-48 .elementor-element.elementor-element-1264314 {
  --display: flex;
  --flex-direction: column;
  display: var(--display);
  --content-width: 100%;
}
.elementor-48 .elementor-element.elementor-element-73fc4a7 {
  --display: flex;
  --flex-direction: column;
  display: var(--display);
  --content-width: 100%;
}
.elementor-48 .elementor-element.elementor-element-aa4ef5d {
  --display: flex;
  --flex-direction: column;
  display: var(--display);
  --content-width: 100%;
}
.elementor-48 .elementor-element.elementor-element-f54d273 {
  --display: flex;
  --flex-direction: column;
  display: var(--display);
}
.elementor-48 .elementor-element.elementor-element-f54d273 > .e-con-inner {
  max-width: min(var(--container-max-width, 1140px), 100%);
  margin-inline: auto;
}
